.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 0.1rem #1d0101 solid;
    font-weight: bolder;
    
  }
  .filter div {
    flex: 1;
  }
